$border-radius: 1em;
$hue-1: 125;
$hue-2: 195;
$hue-3: 183;
$hue-4: 0;

$h-clr-1: hsl(125, 50%, 50%);
$h-clr-2: hsl(195, 70%, 22%);
$h-clr-3: hsl(183, 81%, 35%);
$bg-clr: hsl(0, 0%, 95%);
$bg-dark: hsl(0, 0%, 15%);

$animation-time: 200ms;
// p {
//   color: hsl(125, 50%, 50%);
// }
